* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  z-index: 10;
}
.header-content {
  width: 100%;
  height: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 180px;
}
.logo a {
  display: block;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  color: inherit;
  text-decoration: none;
  background-color: #c7ecee;
  color: black;
  text-align: center;
}
.brunch {
  font-size: 35px;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.icons {
  width: 180px;
  padding: 10px 20px;
  border-radius: 10px;
  letter-spacing: 5px;
  background-color: #95afc0;
  color: #2c3e50;
  text-align: center;
}
.progress {
  width: 100%;
  height: 2px;
}
.filled {
  width: 100%;
  height: 100%;
}

.top-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.blog-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 35px;
  color: white;
}
.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  opacity: 0;
  z-index: 10;
  transition: opacity 0.3s ease-out;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: #ecf0f1;
}
.section {
  width: 700px;
  margin: 100px auto;
}
.section h2 {
  font-size: 24px;
}
.section div {
  font-size: 20px;
}

.fixed-header {
  position: fixed;
  top: 0;
  background-color: rgba(256, 256, 256, 0.9);
}
.fixed-text {
  color: black;
}
.fixed-progress {
  background-color: black;
}
