* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.top-background {
  width: 100%;
  height: 100vh;
  background: url('../images/parallax3/bg.jpg') center center / cover no-repeat;
}

/* images */
.image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* content */
.content {
  position: relative;
  z-index: 100;
  background: linear-gradient(black, #340e23, black);
}
.content {
  display: flex;
  flex-direction: column;
}
.section {
  width: 60%;
  margin: 30rem auto 15rem;
  color: white;
}
.section h2 {
  text-align: center;
  margin: 20px 0;
}
.section div {
  font-size: 20px;
  line-height: 2rem;
}
