* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background: url('../assets/tablewood.jpg');
  background-size: auto 130px;

  perspective: 1800px;

  word-break: keep-all;
}
.leftlet {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 30vw;
  height: 30vw;
  margin: auto;

  transform-style: preserve-3d;

  transition: all 0.8s ease-in-out;
}
.page {
  position: absolute;
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

/* page1 */
.page:nth-child(1) {
  z-index: 2;
  transform-origin: left;
}
.page:nth-child(1) .front {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 300;
}
.page:nth-child(1) .front::before,
.page:nth-child(3) .front::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  border: 1px solid #e17055;
}

.page:nth-child(1) .back,
.page:nth-child(3) .back {
  z-index: 0;
}

/* page2 */
.page:nth-child(2) {
  z-index: 0;
}
.page:nth-child(2) .front {
  background: white;
}

/* page3 */
.page:nth-child(3) {
  z-index: 1;
  transform-origin: right;
}
.page:nth-child(3) .front {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  padding: 1rem 2rem;
}
.face.front {
  background: cornsilk;
}
.face.back {
  transform: rotateY(180deg);
  background: white;
}

/* lecture */
em {
  font-style: normal;
  font-weight: 600;
  color: rgb(255, 76, 119);
}
.en {
  font-family: 'SofiaPro';
}
.kr {
  font-family: 'SUIT';
}

.title {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}
.lecture {
  width: 100%;
  height: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  transform-style: preserve-3d;
}
.lecture-title {
  font-size: 24px;
  font-weight: 500;
  transition: opacity 0.6s ease-in-out;
}
.lecture-detail {
  width: 80%;
  font-size: 16px;
  font-weight: 400;
  color: rgb(100, 105, 110);
  transition: opacity 0.6s ease-in-out;
}
.image-wrapper {
  position: relative;
  margin-top: 1rem;
  transform-style: preserve-3d;
}
.lecture-image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.6s ease-in-out;
  transform-style: preserve-3d;
}
.back-button {
  all: unset;
  display: none;
  position: absolute;
  top: -25px;
  right: 10px;
  font-size: 12px;
  color: black;

  transform-style: preserve-3d;
  cursor: pointer;
}
.close-button {
  all: unset;
  position: absolute;
  top: -20px;
  right: 0;

  color: white;
  font-size: 16px;

  transform-style: preserve-3d;
  cursor: pointer;
}
.fully-opened .close-button {
  display: inline-block;
}
.zoom-in .lecture-title,
.zoom-in .lecture-detail,
.zoom-in .image-wrapper:not(.selected) {
  opacity: 0;
}
.selected {
  opacity: 1;
}
.selected .back-button {
  display: inline-block;
}
