.roadmap {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
  height: 400px;
  margin: 100px auto;
}
#quaka {
  position: absolute;
  width: 70px;
  height: 70px;
  transform: translate(-50%, -50%);
}
ellipse {
  cursor: pointer;
}
