@font-face {
  font-family: 'pepsi-bold';
  src: url('../assets/font/PEPSI_pl.ttf');
}
@font-face {
  font-family: 'pepsi-2008';
  src: url('../assets/font/pepsi-2008.ttf');
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.pepsi {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 10px solid white;
  background-color: #005cb4;
  overflow: hidden;
}
.pepsi::before {
  content: '';
  position: absolute;
  bottom: 77px;
  left: -154px;
  width: 500px;
  height: 500px;
  border-radius: 130px;
  background-color: white;
  transform: rotate(78deg);
}
.pepsi::after {
  content: '';
  position: absolute;
  top: -180px;
  left: -675px;
  width: 1000px;
  height: 500px;
  border-radius: 50%;
  background-color: #c9002b;
}
.container {
  height: 100%;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.title {
  font-family: 'pepsi-2008';
  font-size: 5rem;
}
.title span {
  font-size: 15px;
  margin-left: 10px;
}
.name {
  font-family: 'pepsi-bold';
  font-size: 2rem;
  letter-spacing: 5px;
  line-height: 5rem;
}
.flavor {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #abc400;
  filter: brightness(1.25);
}
