* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #eee;
}
a {
  text-decoration: none;
  color: inherit;
}

/* header */
.header {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  flex: 1;
  font-size: large;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
}

.search-bar {
  display: flex;
  margin-right: 1em;
}
.search-bar input {
  padding: 0.5em 1em;
  margin-right: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
}
.search-bar .search-button {
  flex-shrink: 0;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  background-color: #00b894;
  color: white;
}
.github {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.github img {
  width: 100%;
  height: 100%;
}

/* navigation */
.navigation {
  width: 100%;
  background-color: #55efc4;
  display: flex;
}
.nav-item {
  width: 25%;
  padding: 1em;
  color: #00b894;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.nav-item:hover {
  width: 35%;
  color: white;
  background-color: #00b894;
}

/* card-list */
.card-list {
  width: 100%;
  list-style: none;
  padding: 1em;
}
.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  overflow: hidden;
}
.image-wrapper {
  position: relative;
  height: 0;
  padding-bottom: 70%;
}
.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.description {
  width: 100%;
  font-size: 18px;
  padding: 1em;
  background-color: white;
  flex-grow: 1;
}

@media (min-width: 800px) {
  .card {
    width: 50%;
  }
}
