.section {
  padding: 2rem;
  color: #ffffff;
  background-image: linear-gradient(
    to bottom,
    #5ec8f2,
    #4fb8e6,
    #3fa8da,
    #2f98ce,
    #1e88c2,
    #0e78b6,
    #0068aa,
    #00589e,
    #004892,
    #003886,
    #00287a,
    #001f6e,
    #001662,
    #000d56,
    #00044a
  );
}

.title {
  padding: 100px 0 80px;
  font-size: 70px;
  text-align: center;
}

.content {
  font-size: 170px;
}

.content .progress {
  position: fixed;
  left: 50%;
  top: 400px;
  width: 70%;
  height: 100px;
  margin-left: -35%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 20, 60, 0.3);
  text-align: center;
}

.content .progress .bar {
  display: block;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

.content .progress .percent {
  font-size: 30px;
}
