* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #eee;
}

.app {
  width: 100%;
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.button-container {
  grid-column: 1 / 5;
  grid-row: 1;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.button-container label {
  padding: 0.5em 1em;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.button-container input {
  display: none;
}
.button-container input:checked + label {
  background-color: #485460;
  color: white;
}
.button-container label:nth-of-type(1) {
  grid-column: 1 / 2;
}
.button-container label:nth-of-type(2) {
  grid-column: 2 / 3;
}

.header {
  grid-column: 1 / 5;
  grid-row: 2;

  margin-bottom: 0.5em;
  font-size: 5rem;
  color: #808e9b;
}
.card-list {
  grid-column: 1 / 5;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  background-color: white;
}
.card-category {
  padding: 0.5em 1em;
  font-size: 1.3rem;
  text-transform: capitalize;
}
.card-header {
  font-size: 1.5rem;
  padding: 0.5em;
}
.card-body {
  padding: 0 1em 1em;
}

.typescript .card-category {
  color: white;
  background-color: #3c40c6;
}
.java .card-category {
  color: white;
  background-color: #ff5e57;
}
.python .card-category {
  color: white;
  background-color: #ffd32a;
}
.c-sharp .card-category {
  color: white;
  background-color: #00d8d6;
}

.footer {
  grid-column: 1 / 5;
  grid-row: 4;

  margin-top: 1em;
  padding: 1em 2em;
  background-color: #808e9b;
  text-align: center;
}
